/* Adding fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
}
/* Header Section */
.header-container{
    background-color: rgba(255, 144, 14, 0.1);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 140px;
}
.header-right ul{
    display: flex;
    list-style: none;
    gap: 60px;
}
#header-header{
    font-size: 25px;
    font-weight: 700;
}
.header-right li{
    font-size: 16px;
    color: #424242;
}
/* Brand New Section */
.brand-new-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
#brand-new{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
#brand-new-para{
    text-align: center;
}
#brand-new-btn{
    padding: 20px 24px;
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}
/* Adding image on header section */
.add-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
    padding-bottom: 50px;
}