/* Adding fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
}
/* Header Section */
.header-container{
    background-color: rgba(255, 144, 14, 0.1);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 140px;
}
.header-right ul{
    display: flex;
    list-style: none;
    gap: 60px;
}
#header-header{
    font-size: 25px;
    font-weight: 700;
}
.header-right li{
    font-size: 16px;
    color: #424242;
}
/* Brand New Section */
.brand-new-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
#brand-new{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
#brand-new-para{
    text-align: center;
}
#brand-new-btn{
    padding: 20px 24px;
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}
/* Adding image on header section */
.add-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
    padding-bottom: 50px;
}
/* Quick List Section */
.quick-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    padding: 0px 20px;
    margin-top: 85px;
}
.quick-list-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list-main{
    margin-bottom: 24px;
}
#quick-list{
    font-size: 45px;
    font-weight: 500;
    color: #424242;
}
#of-our{
    font-size: 45px;
    font-weight: 700;
}
#features{
    font-size: 45px;
    font-weight: 700;
    color: #FF900E;
}
#quick-list-para{
    font-weight: 400;
    columns: #727272;
    font-size: 16px;
    margin-bottom: 24px;
}
#quick-list-btn{
    padding: 20px 24px;
    background-color: #FF900E;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}
/* Features Section */
.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 54px;
    margin-top: 130px;
}
#features-enjoy{
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}
.feature-contents{
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.feature-image img{
    width: 80%;
}
#features-enjoy-head{
    margin-left: 21px;
}